.courses {
    display: flex;
    margin-bottom: 15px;
}

.courses > *:first-child {
    margin-left: 0;
}

.courses > *:last-child {
    margin-right: 0;
}

.courses > * {
    margin-right: 5px;
    margin-left: 5px;
}

.course-item {
}
.course-item-title {
    font-weight: 700;
    font-size: 18px;
}
.course-item-value {
    font-size: 32px;
    font-weight: 300;
}

.course-item-value.top {
    color: rgb(255, 51, 51);
}

.course-item-value.bottom {
    color: rgb(19, 189, 61);
}



.canvas{
    margin-top:25px;
    display:flex;
    flex-direction: column;

}

.canvas__block{
    position:relative;
    left:-150px;
}

.canvas__tooltip{
    position:absolute;
    font-size: 10px;
    display:none;
    font-weight: 200;
    background: #d6c6bf;
    max-width: 100%;
    width:80px;
    padding: 3px;
}
.canvas__item{
    margin-top: 15px;
}


.row__title{
    font-size: 12px;
}